<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="main_title">
      <span class="elegant">MedLocate</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MedLocate</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="map"></div>
  <div class="indication_title">
    <span class="title_ind">Indicaciones</span>
  </div>
  <div id="indicators"></div>
</ion-content>
